:root {
  --info-color: #17a2b8; /* Light Blue = to bootstrap info blue */
  --secondary-color: #2ecc71; /* Green */
  --accent-color: #e74c3c; /* Red */
  --text-color: #333; /* Dark Grey */
  --background-color: rgba(30, 30, 30, 0.8); /* White */
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  overflow-x: hidden;
  overflow-y: hidden;
}

html {
  height: -webkit-fill-available;
}

main {
  height: 100%;
  height: -webkit-fill-available;
  max-height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

.esri-sketch__panel {
  background-color: rgba(30, 30, 30, 0) !important;
}

#sketch-widget {
  display: block;
  z-index: 1000;
  color: white;
}

/* #topbar {
  position: relative;
  right: 251px;
} */

.col-10 {
  padding-left: 0px;
}

#viewDiv {
  position: absolute;
  top: 56;
  /* right: 5%; Adjust based on sidebar width */
  width: 100%; /* Adjust based on remaining screen width */
  height: 100%;
}

.navbar .container {
  display: block;
  padding-right: 0;
  /* 'block' will make it a standard block-level element */
}

.navbar.bg-dark {
  background-color: var(--background-color) !important;
  margin-top: 3px; /* 0.5 is 50% opacity */
}

.custom-navbar {
  position: absolute;
  top: 0;

  left: 100px;
  width: 400px;
  z-index: 1000;
  min-width: 400px;
  /* padding-left: 25px; */
  border-radius: 3px 3px 3px 3px;
  overflow-y: visible;
  /* This ensures the navbar is always on top */
}

#sketchDiv {
  /* left: 30%; */
}

.col-md {
  padding-left: 0px;
}

.col-12 {
  padding-left: 0;
  padding-right: 0;
}

#title {
  font-size: x-large;
}

#search-title {
  right: 0;
  margin-right: 0px;
  padding-left: 0;
}

ul {
  height: 80px;
  /* background-color: var(--background-color) !important; */
  border-radius: 2px 2px 2px 2px !important;
  vertical-align: middle;
  /* padding-bottom: 0px; */
  /* margin-bottom: 5px; */
  padding-inline-start: 0px;
  text-wrap: auto;
}
.list-group {
  display: flex;
  flex-direction: row; /* Adjust as needed */

  margin-bottom: 5px;
}

#main-img {
  position: relative; /* or absolute */
  top: 10px; /* adjust as necessary */
  left: 0px; /* adjust as necessary */
  z-index: 10; /* higher than other elements */
}

.navbar-brand {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 20px;
  /* padding-left: 20px; */
  font: 800;
}

#searchContainer {
  display: block;
  z-index: 1001;
}

.form-inline {
  padding-bottom: 10px;
  padding-left: 0px;
}

#searchInput {
  width: 150px;
}

#control-panel {
  display: block;
  /* position: relative; */
  /* top: 0; */
  z-index: 1000;
  height: 125px;
}

#dropdown {
  /* overflow-y: auto; */
  /* padding-top: 100px; */
  height: 85%;
}

#featureWid {
  display: block;
  height: 100%;
  width: 100%;
  padding-bottom: 50px;
}

.filterSlider {
  color: white;
}

.suggestions-dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100px;
  overflow-y: auto;
  border: 1px solid #ccc;
  /* different color */
  background-color: var(--background-color);
  z-index: 1000;
}

.suggestions-dropdown div {
  padding: 8px;
  cursor: pointer;
}

.suggestions-dropdown div:hover {
  background-color: #e0e0e0;
}

.expanded {
  height: 400px; /* expanded height */
  z-index: 1000;
  left: 10%;
  width: 100%;
  /* background-color: #eeeeee91; */
}

.relative-container {
  position: relative;
}

.btn-toggle {
  padding: 0.25rem 0.5rem;
  font-weight: 600;
  color: var(--bs-emphasis-color);
  background-color: transparent;
}
.btn-toggle:hover,
.btn-toggle:focus {
  color: rgba(var(--bs-emphasis-color-rgb), 0.85);
  background-color: var(--bs-tertiary-bg);
}

#bt-Div {
  position: absolute;
  right: 0;
  top: 100px;
}

#dropdown {
  display: block;
  overflow-y: auto;
}

#buttonGrouping {
  position: absolute;
  top: 50px;
  height: 300px;
  right: 0px;
  width: 50px;
  background-color: black;
  z-index: 1000;
  border-radius: 4px;
  margin-left: 2px;
  /* adjust this for desired spacing */
}

#panelToggle {
  position: absolute;
  margin-top: 15px;
  margin-left: 5px;
  vertical-align: middle;
  align-items: center;
}

.sidebar {
  display: block;
  border-bottom-left-radius: 10px; /* Adjust the radius as needed */
  border-top-left-radius: 10px;
  position: absolute; /* Change position to 'absolute' */
  right: 0; /* This ensures it's flush with the right side of the container */
  height: 80%;
  width: 250px;
  z-index: 1000;
  background-color: var(--background-color) !important;
  transition: width 0.5s;
}

#sidebar2 {
  position: absolute;
  border-top-right-radius: 5px;
  left: -350px; /* Start off-screen */
  top: 15%;
  height: 83%;
  width: 350px;
  z-index: 1000;
  overflow-y: hidden;
  background-color: var(--background-color) !important;
  transition: left 0.5s; /* Animate the 'left' property */
}

.collapsed {
  width: 0px;
}

#small-div {
  position: absolute;
  display: flex; /* Make this a flex container */
  flex-direction: column; /* This will align the items vertically */
  justify-content: space-between;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  top: 8%;
  right: 250px; /* the width of #sidebar */
  height: 290px;
  width: 55px;
  background-color: var(--background-color) !important;
  transition: right 0.5s;
  padding: 6px; /* Change this to the color you want */
}

#results-div {
  position: absolute;
  display: flex; /* Make this a flex container */
  flex-direction: column; /* This will align the items vertically */
  justify-content: space-between;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-top: 10px;
  top: 30%;
  left: 250px; /* the width of #sidebar */
  height: 200px;
  width: 55px;
  background-color: var(--background-color) !important;
  transition: left 0.5s;
  padding: 6px; /* Change this to the color you want */
}

#left-div {
  position: absolute;
  display: flex; /* Make this a flex container */
  flex-direction: column; /* This will align the items vertically */
  justify-content: space-between;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  top: 50%;
  right: 250px; /* the width of #sidebar */
  height: 80px;
  width: 40px;
  background-color: var(--background-color) !important;
  transition: right 0.5s;
  padding-top: 20px;
  padding: 6px; /* Change this to the color you want */
}

.centered-btn {
  position: relative;
  padding-top: 50%;
  height: 30px;
  margin-top: 20px; /* 20px from the top */
}

.list-group-item {
  background-color: var(--background-color) !important;
  outline-color: white;
  font-size: 9px;
  color: white;
  z-index: 1000;
  right: 0;
  text-align: left;
  /* height: 150px; */

  /* border-radius: 2px 2px 2px 2px !important; */
  /* width: 50%; */
  display: flex;
  flex-direction: row;
  vertical-align: middle;
}

.abutters-group-item {
  background-color: var(--background-color) !important;
  /* outline-color: white; */
  font-size: 9px;
  color: white;
  /* z-index: 1000; */
  /* right: 0;
  align-items: center;
  vertical-align: middle; */

  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100px; */
  width: 100%;
  border: 1px solid white;
}

.list-group-item:hover {
  color: grey;
  cursor: pointer;
}

.img-fluid {
  width: 100px;
  height: auto;
}

.image-div {
  display: flex;
  padding-top: 10px;
  background-color: var(--background-color) !important;
  /* align-items: center; */
  /* justify-content: center; */
  padding-left: 0;
  /* height: 100px; */
}
/* width: 60px;
  height: 60px;
} */

#side-Exp {
  margin-top: 20px; /* Remove any default margin */
  padding: 0.5rem; /* Adjust as necessary */
  cursor: pointer; /* Add a hand cursor to indicate it's clickable */
}

#side-btn {
  cursor: pointer;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.spinner-border {
  width: 4rem;
  height: 4rem;
}
.btn-group-vertical {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
  padding-top: 15px;
}

#submitDiv {
  padding-left: 10px;
}

#submit {
  /* margin-top: 5px; */
  /* padding-left: 20px; */
  margin-bottom: 5px;
}

/* .bar-Buttons {
  margin-top: 5px;
} */

#refresh-search {
  margin-top: 5px;
  z-index: 1000;
}
/* ul {
  border: #e0e0e0 solid 0.5px;
} */

li {
  font-size: 9px;
  height: auto;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  width: auto;
}

li.list-results {
  display: flex;
  flex-direction: flex-end;
  font-size: 9px;
  height: auto;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  width: auto;
}

li.list-results:hover {
  background-color: red;
  /* background-color: #e0e0e0; */
  cursor: pointer;
}

::-ms-clear {
  display: none;
}

.form-control-clear {
  z-index: 10;
  pointer-events: auto;
  cursor: pointer;
}

#clear-btn {
  z-index: 1000;
  display: block;
  margin: 0px;
  padding: 7px 7px 7px 7px;
  height: 40px;
}

img {
  display: flex;
  text-align: center;
  padding-bottom: 10px;
  justify-content: center;
  height: 70px;

  width: fit-content;
  /* width: 85px; */
}

.filterInputDiv {
  text-align: center;
  padding-top: 5px;
}

.options-bar-li {
  height: 50px;
  font-size: 12px;
}

.esri-icon-non-visible::before {
  content: "\e610";
}
.esri-icon-visible::before {
  content: "\e611";
}

#BookmarksDiv {
  font-size: medium;
  font-weight: 500;
  /* text-align: center; */
}

.esri-bookmarks__list {
  background-color: white; /* Light background */
  color: black; /* Dark text for contrast */
}

.esri-bookmarks__item {
  border-color: #e0e0e0; /* Lighter borders for each item */
}

.slider-div {
  display: inline-block;
  width: 100px;
  padding-top: 5px;
  margin-right: 0px; /* Adjust margin as needed */
}

#group-container-right {
  width: 100%;
  height: 100%;
  /* background-color: red; */
}

#Right-Btn-div {
  display: block;
  padding-left: 10px;
  display: inline-block;
}

#backButton-div {
  display: block;
  padding-left: 10px;
  display: inline-block;
  bottom: 0px;
}

#detailsButton-div {
  display: block;
  padding-left: 10px;
  display: inline-block;
  bottom: 0px;
}

.backButtons {
  /* position: relative; */
  border-radius: 6px;
  font-size: 8px;
}

#detailBox #feature-wid {
  position: absolute;
  display: block;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: antiquewhite;
  padding-left: 30px;
  /* background-color: rgba(0, 0, 0, 0.5); */
  z-index: 1000;
}

#detailBox {
  height: 100%;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 15px; /* To center-align text */
}

#detail-content {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 10px;
  text-align: center;
  padding-bottom: 50px;
}

#detail-content img {
  padding-top: 10px;
  width: 140px;
  height: 100px;
  padding-left: 10px;
}

#details-btns {
  padding-top: 20px;
  padding-left: 30px;
  padding-bottom: 20px;
  align-items: center;
}

#abutters-content {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}

.buffer-group .p-2 {
  width: 150px;
  flex-grow: 0;
  flex-shrink: 0; /* Adjust this width to accommodate the button and any desired padding */
}

#abutters-div {
  display: flex;
  flex-direction: column;
  padding-top: 15px;
  width: 100%;
  height: 85%;
  /* justify-content: space-between; */
  color: white;

  text-align: center;
}

.abutters-title {
  display: flex;
  flex-direction: column;
  background-color: var(--info-color);
  /* outline-color: tomato; */
  /* background-color: rgba(8, 171, 180, 0.7); */
  background-color: var(--info-color);
  height: 25px;
  width: 100%;
  font-size: 15px;
  align-items: center;
  vertical-align: middle;
}

#filterDiv {
  /* background-color: #f5f5f5;  */
  padding-bottom: 50px;
}

#filterScrollableContainer {
  max-height: 400px; /* Adjust based on your needs */
  overflow-y: auto;
  margin-top: 20px; /* Add some space between the title and the scrollable container */
}

.filterContainer {
  margin-bottom: 10px; /* Adds some space between your filters */
}

/* .filterContainer {
  padding-bottom: 10px;
} */
#filter-title {
  background-color: var(--info-color);
  height: 25px;
  width: 100%;
  /* font-size: 15px; */
  align-items: center;
  vertical-align: middle;
}

.filterLabel {
  color: white;
  background-color: var(--info-color);
  height: 25px;
  width: 100%;
  text-align: center;
  /* align-items: center;
  vertical-align: middle; */
}

.custom-height {
  height: 20px; /* or any other value */
}

#buffer-input {
  padding-top: 10px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

#buffer-group {
  padding-bottom: 0px;
  margin-bottom: 0px;
  height: 60px;
}

#buffer-value {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding-top: 30px; */
  width: 50px;
  padding-top: 30px;
  font-size: 15px; /* To center-align text */
}

#feet {
  width: fit-content;
}

#meters {
  width: fit-content;
}

#selected-feature {
  display: block;
  /* height: 50px; */
  color: aliceblue;
  z-index: 1000;
}
#unitSelector {
  margin-bottom: 5px;
}

#units-dropdown {
  width: 30px;
  font-weight: 800;
  font: bolder;
}

.units {
  font-size: 11px;
  width: 30px;
  z-index: 1001;
  font: bolder;
}

#parcel-feature {
  /* height: 50px; */
  color: aliceblue;
  height: 225px;
  z-index: 1000;
  overflow-y: auto;
}

#total-results {
  display: flex;
  text-align: center;
  vertical-align: middle;
  padding: 1px 2px 1px 2px;
  border: 1px solid white;
  border-radius: 4px;
  /* padding-left: 50%; */
  color: white;
  position: absolute;
  top: 78px;
}

#result-btns {
  /* padding-top: 20px;
  padding-left: 30px; */
  padding-bottom: 0px;
  align-items: center;
}

.btn-toolbar {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.row {
  margin-right: 0px;
  margin-left: 0px;
}

.justZoomBtn {
  position: absolute;
  right: 0;
}

.justZoom {
  background-color: transparent !important;
  border-color: transparent !important;
}

.justZoom:hover {
  background-color: paleturquoise;
  border-color: transparent !important;
}

.listText {
  padding-right: 5px !important;
}

#welcomeImage {
  text-align: center; /* Align the content (image) horizontally */
  display: flex; /* Use flexbox */
  justify-content: center;
}
